    @font-face {
    font-family: 'Princess Diana';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/princessdiana/princessdiana.woff') format('woff');
    } 