    @font-face {
    font-family: 'Caravan';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/caravan/Caravan.woff') format('woff');
    }