@font-face {
    font-family: 'Caviar Dreams';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/CaviarDreams/CaviarDreams.woff') format('woff');
}