    @font-face {
    font-family: 'Prata';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/prata/Prata-Regular.woff2') format('woff2');
    } 