    @font-face {
    font-family: 'Antarctic';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/antarctic/Antarctic.woff') format('woff');
    }