@font-face {
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/HelveticaNeue/HelveticaNeueCyr-Light.woff') format('woff');
    }