    @font-face {
    font-family: 'Bergamasco Regular';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/bergamasco/Bergamasco.woff') format('woff');
    }