    @font-face {
    font-family: 'Lobelia';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/lobelia/lobelia.woff2') format('woff2');
    } 