    @font-face {
    font-family: 'Ekaterina Velikaya One';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/ekaterinavelikayaone/EkaterinaVelikayaOne.woff2') format('woff2');
    }