    @font-face {
    font-family: 'Neumann';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/neumann/neumann.woff') format('woff');
    }