    @font-face {
    font-family: 'Russische Elsevier';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/russischeelsevier/Russische-Elsevier.woff') format('woff');
    }