    @font-face {
    font-family: 'Ura Bum Bum SP';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/gh/Samokhvalov0137/tilda-fonts/urabumbum/UraBumBumSP.woff') format('woff');
    }